<ion-header>

  <ion-navbar color="big-task">
    <ion-title>Big Tasks</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="big-task">
    <todo-count-progress [data]="todosCountProgress"></todo-count-progress>
  </ion-toolbar>

</ion-header>


<ion-content>

  <task-item [tasks]="todos"></task-item>

  <ion-fab right bottom>
    <button ion-fab color="big-task"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
