task-item {
  ion-list ion-item-sliding ion-item.big-task {
    border-left: 5px solid $big-task;
  }

  ion-list ion-item-sliding ion-item.medium-task {
    border-left: 5px solid $medium-task;
  }

  ion-list ion-item-sliding ion-item.small-task {
    border-left: 5px solid $small-task;
  }
}
