<ion-list>
  <ion-item-sliding *ngFor="let task of tasks">
    <ion-item no-padding
    [class.big-task]="task.type === 'BIG_TASK'"
    [class.medium-task]="task.type === 'MEDIUM_TASK'"
    [class.small-task]="task.type === 'SMALL_TASK'">
      <!-- <ion-avatar item-start>
        <img src="img/slimer.png">
      </ion-avatar> -->
      <div padding-left>
        <h2>{{task.name}}</h2>
      </div>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="trash"></ion-icon>
        Remove
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
