// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.full-width {
    width: 100%;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

//.big-task {
//  color: $big-task;
//}
//
//.medium-task {
//  color: $medium-task;
//}
//
//.small-task {
//  color: $small-task;
//}
//
//.generic-task {
//  color: $generic-task;
//}


// Menu list design
ion-list#menu-list .item-inner {
  border: none !important;
}
