<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>1-3-5 Todos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list id="menu-list">
      <div *ngFor="let page of pages">
        <button menuClose ion-item (click)="openPage(page)">
          <ion-icon padding-right *ngIf="page.icon" name="{{page.icon}}"></ion-icon>
          {{page.title}}
        </button>
        <hr *ngIf="page.endOfGroup">
      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
