<ion-header>

  <ion-navbar color="generic-task">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>1-3-5</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content (ionScroll)="contentScroll($event)">

  <task-item [tasks]="todos"></task-item>

  <ion-fab right bottom [hidden]="hideAddButton">
    <button ion-fab color="generic-task"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="navigate(btn)" *ngFor="let btn of footerButtons" color="{{btn.class}}">{{btn.name}}</button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
