<ion-grid *ngIf="data">
  <ion-row justify-content-end>
    <circle-progress
      [percent]="data.remaining.percent"
      [title]="data.remaining.title"
      [subtitle]="'remaining'"
      [innerStrokeColor]="strokeColor">
    </circle-progress>
  
    <circle-progress
      [percent]="data.completed.percent"
      [title]="data.completed.title"
      [subtitle]="'completed'"
      [innerStrokeColor]="strokeColor">
    </circle-progress>
  </ion-row>
</ion-grid>